{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{%static 'plugins/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
<style>
.div-a{ float:left;width:40%;height:40%;border:1px solid #F00}
.div-b{ float:left;width:30%;height:60%;border:1px solid #000}
span{ font-size:25px }
</style>
{% endblock %}

{% block main %}
<div class="box box-danger">
    <form class="form-horizontal" id="addForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="box-body ">
            <fieldset>
                <legend>
                </legend>
                <input class="form-control" name="operator" type="hidden" value="{{ request.user.name }}"/>



                <div class="form-group has-feedback">
                <label class="col-sm-2 control-label">{{ form.owner.label}}</label>
                <div class="col-sm-3">
                    <!--<input class="form-control" name="aclNum" type="text"/>-->
                    {{ form.owner}}
                </div>
                <label class="col-sm-2 control-label">{{ form.face_id.label}}</label>
                <div class="col-sm-3">
                    {{ form.face_id}}

                </div>
                </div>

                <div class="form-group has-feedback">
                <label class="col-sm-2 control-label">{{ form.face_name.label}}</label>
                <div class="col-sm-3">
                    {{ form.face_name}}
                </div>
                <label class="col-sm-2 control-label">{{ form.face_cname.label}}</label>
                <div class="col-sm-3">
                    {{ form.face_cname}}

                </div>
                </div>

                <div class="form-group has-feedback">

                <label class="col-sm-2 control-label">{{ form.face_image.label}}</label>
                <div class="col-sm-3">
                    {{ form.face_image}}

                </div>
                </div>

                <div class="form-group has-feedback">

                <label class="col-sm-2 control-label">{{ form.face_image.label}}</label>

                    <div class="div-a" id="contentHolder">
                        <video id="video" width="100%" height="60%" autoplay></video>
                        <canvas style="" hidden="hidden" id="canvas" width="520" height="250"></canvas>
                    </div>
                    <div class="div-b">
                        <!-- 测试按钮 -->
                        <input type="button" id="snap" style="width:100px;height:35px;" value="拍 照"/>
                    </div>
                </div>


            </fieldset>
        </div>
        <div class="box-footer ">
            <div class="row span7 text-center ">
                <button type="button" id="btnCancel" class="btn btn-default margin-right ">重置</button>
                <button type="button" id="btnSave" class="btn btn-info margin-right ">保存</button>
            </div>
        </div>

    </form>
</div>

{% endblock %}

{% block javascripts %}
<script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
<script type="text/javascript">

    //这段代 主要是获取摄像头的视频流并显示在Video 签中
    window.addEventListener("DOMContentLoaded", function () {
        var canvas = document.getElementById("canvas"),
            context = canvas.getContext("2d"),
            video = document.getElementById("video"),
            videoObj = {"video": true},
            errBack = function (error) {
                console.log("Video capture error: ", error.code);
            };
        //拍照按钮
        $("#snap").click(function () {
            context.drawImage(video, 0, 0, 330, 330);
            alert('拍照成功');
        })
        //更新兼容火狐浏览器
        if (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia) {
            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
            navigator.getUserMedia(videoObj, function (stream) {
                video.srcObject = stream;
                video.play();
            }, errBack);
        }

    }, false);

    function dataURItoBlob(base64Data) {
		var byteString;
		if (base64Data.split(',')[0].indexOf('base64') >= 0)
		byteString = atob(base64Data.split(',')[1]);
		else
		byteString = unescape(base64Data.split(',')[1]);
		var mimeString = base64Data.split(',')[0].split(':')[1].split(';')[0];
		var ia = new Uint8Array(byteString.length);
		for (var i = 0; i < byteString.length; i++) {
		ia[i] = byteString.charCodeAt(i);
		}
		return new Blob([ia], {type:mimeString});
	}

    $("#btnSave").click(function () {
        var canvans = document.getElementById("canvas");
		//获取浏览器页面的画布对象
		//以下开始编 数据
		var imageBase64 = canvans.toDataURL();
		var blob = dataURItoBlob(imageBase64);  // 上一步中的函数

        var data =  new FormData($( "#addForm" )[0]);
        data.append("face_image", blob,'image.png');

        $.ajax({
            type: $("#addForm").attr('method'),
            url: "{% url 'facedata:create' %}",
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (msg) {
                if (msg.status == 'success') {
                    layer.alert('数据保存成功！', {icon: 1}, function (index) {
                        parent.layer.closeAll(); //关闭所有弹窗
                    });
                } else if (msg.status == 'fail') {
                    layer.alert(msg.facedata_create_form, {icon: 5});
                }
                return;
            }
        });
    });

    /*点取消刷新新页面*/
    $("#btnCancel").click(function () {
        window.location.reload();

    })




    /*input 时间输入选择*/
    $(".form_datetime").datetimepicker({
        language: 'zh',
        minView: 'month', //选择范围知道日期，不选择时分
        //weekStart: 1,
        //todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        //startView: 2,
        forceParse: 0,
        showMeridian: 1,
        format: 'yyyy-mm-dd'
    }).on('changeDate', function (ev) {
        $(this).datetimepicker('hide');
    });

    // select2
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });
</script>

{% endblock %}
