<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block main %}

<ul>
    <li>各国信息</li>
    <ul>
        {% recursetree nodes %}
        <li>
            {% if node.is_leaf_node %}
            <a href="#">{{ node.name }}</a>
            {% else %}
            <a href="#">{{ node.name }}</a>
            <ul>
                {{ children }}
            </ul>
            {% endif %}
        </li>
        {% endrecursetree %}
    </ul>
</ul>
{% endblock %}

</body>
</html>