{% extends "head-footer.html" %}
{% load staticfiles %}
{% load mptt_tags %}

{% block middle %}

    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header"></li>
                <!-- Optionally, you can add icons to the links -->
                {% for menu in request.reveal_menu %}
                {% if not menu.url %}
                <li class="treeview" id="{{ menu.code }}">
                    <a href="">
                        <i class="{{ menu.icon }}"></i><span>{{ menu.name }}</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        {% for sub in menu.sub_menu %}
                        <li id="{{ sub.code }}">
                            <a href="{{ sub.url }}"><i class="fa fa-caret-right"></i>{{ sub.name }}</a>
                        </li>
                        {% endfor %}


                    </ul>
                </li>
                {% else %}
                <li id="{{ menu.code }}">
                    <a href="{{ menu.url }}"><i class="{{ menu.icon }}"></i><span>{{ menu.name }}</span>
                    </a>
                </li>
                {% endif %}
                <ul>

                </ul>
                {% endfor %}
            </ul>


            <ul class="sidebar-menu tree well  ">
                <li class="treeview parent_li" style="display: list-item">
                        <span title="折叠此级">
                        <i class="glyphicon glyphicon-folder-open glyphicon-minus-sign"></i>
                        用户信息
                        </span>
                    <ul>

                        {% recursetree nodes %}
                        {% if node.is_leaf_node %}
                        <li class="treeview parent_li" style="display: none">
                            <span title="折叠此级">
                            <i class="glyphicon glyphicon-minus-sign"></i>
                            {{ node.name }}
                            </span>
                        </li>
                        {% else %}
                        <li class="treeview  parent_li" style="display:none">
                            <span title="折叠此级">
                            <i class="glyphicon glyphicon-minus-sign"></i>
                            {{ node.name }}
                            </span>
                            <ul>
                                {{ children }}
                            </ul>
                        </li>
                        {% endif %}
                        {% endrecursetree %}
                    </ul>
            </ul>


        </section>
    <!-- /.sidebar -->
    <!-- /.sidebar-menu -->

  </aside>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header margin-bottom">
        <ol class="breadcrumb">
            {% if menu.parent %}
            <li class="active"><a href="{{ menu.parent.url | default:'' }}"><spanstyle="color: white;">{{ menu.parent.name }}</a></li>
            {% endif %}
            <li class="active"><a href="{{ menu.url }}"><spanstyle="color: white;">{{ menu.name }}</a></li>
        </ol>
    </section>
  {% block content %}


  {% endblock %}

</div>
<!-- /.content-wrapper -->

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', '折叠此级');
            $('.tree li.parent_li[ltype=month] > span, .tree li.parent_li[ltype=year]:gt(0) > span').each(function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                children.hide('fast');
                $(this).attr('title', '展开此级').find(' > i').addClass('glyphicon-plus-sign').removeClass('glyphicon-minus-sign');
            });
            $('.tree li.parent_li > span').on('click', function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).attr('title', '展开此级').find(' > i').addClass('glyphicon-plus-sign').removeClass('glyphicon-minus-sign');
                } else {
                    children.show('fast');
                    $(this).attr('title', '折叠此级').find(' > i').addClass('glyphicon-minus-sign').removeClass('glyphicon-plus-sign');
                }
                e.stopPropagation();
            });
        });
    </script>



{% endblock %}